.button{
    display: inline-block;
    border: none;
    outline: none;
    padding-inline: 0.75rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &.primary-button{
        background-color: #e1034d;
        color: white;
    }

    &:active{
        transform: scale(0.98);
    }
}

.logout-button {
    background: #ff4d4f;
    color: white;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease;
    white-space: nowrap;
    margin-bottom: 1rem;
    min-width: 10rem;
  
    &:hover {
      background: #d9363e;
    }
  }